<div class="container">
  <h2>Posts</h2>
  <text-search (sendData)="onSendData($event)"></text-search>
  <p>Number of posts {{ displayedPosts?.length }}</p>
  <div class="row">
    <div
      *ngFor="let post of displayedPosts"
      class="col-lg-12 col-md-12 posts pb-3"
    >
      <div (click)="viewPost(post.id, post.userId)" class="post">
        <div class="row">
          <div class="col">
            <span>Title</span>
            <p>{{ post.title }}</p>
          </div>

          <div class="col">
            <span>Id</span>
            <p>{{ post.id }}</p>
          </div>
        </div>

        <span>Body</span>
        <p>{{ post.body }}</p>

        <hr />
        <span>User Data</span>
        <br />
        <br />

        <div class="row">
          <div class="col">
            <span>Name</span>
            <p>
              {{ (post.userId | referenceName : users!).name }}
            </p>
          </div>

          <div class="col">
            <span>Username</span>
            <p>
              {{ (post.userId | referenceName : users!).username }}
            </p>
          </div>

          <div class="col">
            <span>Email</span>
            <p>
              {{ (post.userId | referenceName : users!).email }}
            </p>
          </div>

          <div class="col">
            <span>Phone</span>
            <p>
              {{ (post.userId | referenceName : users!).phone }}
            </p>
          </div>

          <div class="col">
            <span>Website</span>
            <p>
              {{ (post.userId | referenceName : users!).website }}
            </p>
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col">
            <span>Address</span>
            <p>{{ (post.userId | referenceName : users!).address?.street }}</p>
            <p>{{ (post.userId | referenceName : users!).address?.suite }}</p>
            <p>{{ (post.userId | referenceName : users!).address?.city }}</p>
            <p>{{ (post.userId | referenceName : users!).address?.zipcode }}</p>
          </div>
          <div class="col">
            <span>Company</span>
            <p>{{ (post.userId | referenceName : users!).company?.name }}</p>
            <p>
              {{ (post.userId | referenceName : users!).company?.catchPhrase }}
            </p>
            <p>{{ (post.userId | referenceName : users!).company?.bs }}</p>
          </div>
        </div>
      </div>

      <a
        [hidden]="post.showComments"
        href="javascript:void(0)"
        (click)="toggleComments(post)"
        class="mb-4"
        >Show comments</a
      >

      <a
        [hidden]="!post.showComments"
        href="javascript:void(0)"
        (click)="toggleComments(post)"
        class="mb-4"
        >Hide comments</a
      >

      <hr [hidden]="!post.showComments" />
      <div [hidden]="!post.showComments" class="row">
        <span>Comments</span>
        <br />
        <br />
        <div *ngFor="let comment of post.comments" class="col-12">
          <div class="row">
            <div class="col">
              <span>Name</span>
              <p>{{ comment.name }}</p>
            </div>
            <div class="col">
              <span>postId</span>
              <p>{{ comment.postId }}</p>
            </div>
          </div>

          <span>Comment</span>
          <p>{{ comment.body }}</p>
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
